<!--Base -->
{% extends 'base.html' %} {% load static %}
<!-- Title -->
{% block title %}Kiddily Care | Politique de confidentialité{% endblock title %}
<!--Meta description-->
{% block meta %} {% endblock meta %}

<!-- Style -->
{% block style %} <link rel="stylesheet" href="{% static "styles/main.css" %}">
{% endblock style %} {% block content %}

<article class="policy">
  <h1>POLITIQUE DE CONFIDENTIALITÉ</h1>

  <h3>ARTICLE 1 – RENSEIGNEMENTS PERSONNELS RECUEILLIS</h3>
  <p>
    Lorsque vous effectuez un achat sur Kiddily Care, dans le cadre de notre
    processus d’achat et de vente, nous recueillons les renseignements
    personnels que vous nous fournirez, tels que votre nom, votre adresse, votre
    adresse e-mail ou encore votre numéro de téléphone. Lorsque vous naviguez
    sur Kiddily Care, nous recevons également automatiquement l’adresse de
    protocole Internet (adresse IP) de votre ordinateur, qui nous permet
    d’obtenir plus de détails au sujet du navigateur et ainsi qu’à propos du
    système d’exploitation que vous utilisez. Dans le cadre du marketing par
    e-mail, avec votre permission, nous pourrions vous envoyer des e-mails au
    sujet de Kiddily Care à propos de nouveaux produits et d’autres mises à jour
    ou encore de vos commandes non finalisées.
  </p>

  <h3>ARTICLE 2 -CONSENTEMENT</h3>

  <p>
    Comment obtenons-nous votre consentement? Lorsque vous nous fournissez vos
    renseignements personnels pour conclure une transaction, vérifiez votre
    carte de crédit, passez une commande, planifiez une livraison ou retournez
    un achat, nous présumons que vous consentez à ce que nous recueillions vos
    renseignements. Si nous vous demandons de nous fournir vos renseignements
    personnels pour une autre raison, à des fins de marketing par exemple, nous
    vous demanderons directement votre consentement explicite, ou nous vous
    donnerons la possibilité de refuser. Comment pouvez-vous retirer votre
    consentement? Si après nous avoir donné votre consentement, vous changiez
    d’avis et ne consentiez plus à ce que nous puissions vous contacter,
    recueillir vos renseignements, vous pouvez nous en aviser en nous contactant
    à <a class="contact" href="mailto: contact@kiddilycare.com">contact@kiddilycare.com</a> ou par
    courrier recommandé au 85 OLD COLLEGE STREET, APARTMENT 6 - SLM 1378 -
    SLIEMA.
  </p>

  <h3>ARTICLE 3 – DIVULGATION</h3>
  <p>
    Nous pouvons divulguer vos renseignements personnels uniquement si la loi
    nous oblige à le faire ou si vous violez nos Conditions Générales de Vente
    et d’Utilisation.
  </p>

  <h3>ARTICLE 4 – LE SITE</h3>
  <p>
    Kiddily Care est hébergée sur Shopify Inc. Ils nous fournissent la
    plate-forme de commerce en ligne qui nous permet de vous vendre les services
    et les produits Kiddily Care. Vos données sont stockées dans le système de
    stockage et les bases de données de Shopify. Dans l’application générale de
    Shopify, vos données sont conservées sur un serveur sécurisé protégé par un
    pare-feu. Pour le paiement, si vous réalisez votre achat par le biais d’une
    passerelle de paiement direct, Shopify stockera vos renseignements de carte
    de crédit. Ces renseignements sont chiffrés conformément à la norme de
    sécurité des données établie par l’industrie des cartes de paiement (norme
    PCI-DSS). Les renseignements relatifs à votre transaction d’achat sont
    conservés aussi longtemps que nécessaire pour finaliser votre commande. Une
    fois votre commande finalisée, les renseignements relatifs à la transaction
    d’achat sont supprimés. Nous n’avons donc pas accès directement accès aux
    informations que vous avez utilisées pour effectuer votre commande. Ces
    informations transitent via Shopify et les processeurs de paiement. En
    effet, toutes les passerelles de paiement direct respectent la norme
    PCI-DSS. Cette norme de sécurité de l'industrie des cartes de paiement,
    PCI-DSS en anglais pour Payment Card Industry Data Security Standard est
    établie par les cinq principaux réseaux cartes (Visa, MasterCard, American
    Express, Discover Card et JCB). Ces normes permettent d’assurer le
    traitement sécurisé des données de cartes de crédit lors de vos achats sur
    Kiddily Care et par ses prestataires de services. Pour plus d’informations,
    veuillez consulter les Conditions d’Utilisation de Shopify ici.
  </p>

  <h3>ARTICLE 5 – SERVICES FOURNIS PAR DES TIERS</h3>
  <p>
    En général, les services fournis par des fournisseurs tiers que nous
    utilisons vont seulement recueillir, utiliser et divulguer vos
    renseignements dans la mesure du nécessaire pour pouvoir réaliser les
    services qu’ils nous fournissent comme le traitement des paiements.
    Cependant, certains de ce fournisseurs, comme les passerelles de paiement et
    autres processeurs de transactions de paiement, possèdent leurs propres
    politiques de confidentialité quant aux renseignements que nous sommes tenus
    de leur fournir pour vos transactions d’achat sur Kiddily Care. En ce qui
    concerne ces fournisseurs tiers, nous vous recommandons de lire
    attentivement leurs politiques de confidentialité pour que vous puissiez
    comprendre la manière dont ils traiteront vos renseignements personnels.
    Vous pourrez retrouver celle de Visa ici, celle d’American Express ici,
    celle de MasterCard ici, celle de JCB ici ou encore celle de Stripe ici. Il
    ne faut pas oublier que certains de ces fournisseurs tiers peuvent être
    situés ou avoir des installations situées dans une juridiction différente de
    la vôtre ou de la nôtre. Donc si vous décidez de poursuivre une transaction
    qui requiert les services d’un fournisseur tiers, vos renseignements
    pourraient alors être régis par les lois de la juridiction dans laquelle ce
    fournisseur se situe ou celles de la juridiction dans laquelle ses
    installations sont situées par exemple. À titre d’exemple, si vous vous
    situez au Canada et que votre transaction est traitée par une passerelle de
    paiement située aux États-Unis, les renseignements vous appartenant qui ont
    été utilisés pour conclure la transaction pourraient être divulgués en vertu
    de la législation des États-Unis, comme le Patriot Act. Une fois que vous
    quittez le site de Kiddily Care ou que vous êtes redirigé vers le site web
    ou l’application d’un tiers pour votre paiement, vous n’êtes plus régi par
    la présente Politique de Confidentialité ni par les Conditions Générales de
    Vente et d’Utilisation de Kiddily Care. Liens Vous pourriez être amené à
    quitter Kiddily Care en cliquant sur certains liens présents sur notre site.
    Nous n’assumons aucunement la responsabilité quant aux pratiques de
    confidentialité exercées par ces autres sites et vous recommandons de lire
    attentivement leurs politiques de confidentialité.
  </p>
  <h3>ARTICLE 6 – SÉCURITÉ</h3>
  <p>
    Pour protéger vos données personnelles, des précautions raisonnables sont
    prises par nous et suivons les meilleures pratiques de l’industrie pour vous
    assurer qu’elles ne soient pas perdues, détournées, consultées, divulguées,
    modifiées ou détruites de manière inappropriée. Dans le cas où vous nous
    fournissez vos informations de carte de crédit, elles seront chiffrées par
    le biais de l’utilisation du protocole de sécurisation SSL et conservées
    avec un chiffrement de type AES-256. Cela signifie qu’aucun être humain
    n’aura accès au numéro de carte complet. Bien qu’aucune méthode de
    transmission sur Internet ou de stockage électronique ne soit sûre à 100 %,
    nous suivons toutes les exigences de la norme PCI-DSS et mettons en œuvre
    des normes supplémentaires généralement reconnues par l’industrie. FICHIERS
    TÉMOINS (COOKIES) Vous trouverez ci-dessous une liste de fichiers témoins
    que nous utilisons. Nous les avons listés ci-dessous pour que vous ayez la
    possibilité de choisir si vous souhaitez les autoriser ou non. _session_id,
    est un identificateur unique de session qui permet à Shopify de stocker les
    informations relatives à votre session (référent, page de renvoi, etc.).
    _shopify_visit, sauvegarde pendant 30 minutes les cookies depuis la dernière
    visite. Au-delà, aucune donnée n’est enregistrée. Ce fichier témoin est
    utilisé par le système interne de suivi des statistiques du fournisseur de
    Kiddily Care pour enregistrer le nombre de visites. _shopify_uniq, ce
    fichier expire à minuit le jour suivant en fonction de l’emplacement du
    visiteur. Ce fichier témoin calcule le nombre de visites d’une boutique par
    client unique. cart, cet identificateur unique persiste pendant 2 semaines
    et stocke l’information relative à votre panier d’achat. _secure_session_id,
    est un identificateur unique de session. storefront_digest, est également un
    identificateur unique. Il est indéfini si la boutique possède un mot de
    passe. Il est utilisé pour savoir si le visiteur actuel a accès ou pas.
  </p>

  <h3>ARTICLE 7 – ÂGE DE CONSENTEMENT</h3>
  <p>
    En utilisant Kiddily Care, vous déclarez que vous avez au moins l’âge de la
    majorité dans votre pays, votre État ou province de résidence, et que vous
    nous avez donné votre consentement pour permettre à toute personne d’âge
    mineur à votre charge d’utiliser Kiddily Care.
  </p>

  <h3>
    ARTICLE 8 – MODIFICATIONS APPORTÉES À LA PRÉSENTE POLITIQUE DE
    CONFIDENTIALITÉ
  </h3>
  <p>
    Nous nous réservons le droit de modifier la présente politique de
    confidentialité à tout moment, donc veuillez s’il vous plait la consulter
    régulièrement. Les changements et les clarifications prendront effet
    immédiatement dès leur publication sur le site web. Si nous apportons des
    changements au contenu de cette politique, nous vous aviserons ici qu’elle a
    été mise à jour, pour que vous puissiez savoir quels renseignements nous
    recueillons, la manière dont nous les utilisons, et dans quelles
    circonstances nous les divulguons, s’il y a lieu de le faire. Si Kiddily
    Care fait l’objet d’une acquisition par ou d’une fusion avec une autre
    entreprise, vos renseignements pourront être transférés aux nouveaux
    propriétaires pour que nous puissions continuer à vous vendre des produits.
  </p>
  <h3>ARTICLE 9 - SMS MARKETING</h3>
  <p>
    En saisissant votre numéro de téléphone à la caisse et en initialisant un
    achat ainsi qu’en vous abonnant via notre liste d’inscription marketing,
    vous acceptez que nous puissions vous envoyer des notifications par SMS
    (pour votre commande et ce compris des rappels de panier abandonné) ou
    encore des offres SMS marketing. Le nombre de messages texte marketing ne
    dépasseront pas 30 par mois. Vous pouvez vous désabonner de tout autre
    message texte en répondant avec le mot STOP. L'envoi de messages texte ou
    l'utilisation d'automatismes nécessite que vous transmettiez les numéros de
    téléphone ou les noms des destinataires. Ces données seront stockées et
    utilisoées communiquer l'analyse et les résultats de la campagne, y compris
    l'état de livraison des messages, l'état d'envoi et, dans certains cas, si
    l'achat a donné lieu à une vente à Kiddily Care. Si vous décidez d'utiliser
    notre raccourcisseur de lien dans des messages texte, nous recueillerons ces
    informations pour savoir si le lien a été cliqué ou non et l'utiliserons
    pour afficher les résultats dans les analyses. Tout autre service de tiers
    que vous pouvez décider d'utiliser en dehors de la portée de smsbump.com,
    notre opérateur de messages texte, le système que nous utilisons pour
    envoyer les SMS (raccourcisseur de lien de tiers, suivi de GA, etc) vous
    serez référé à leurs politiques spécifiques de tiers que vous devez
    accepter. Lors de l'envoi des messages texte, nous transmettrons les données
    à notre opérateur de messages texte pour effectuer l’envoi des messages. Les
    informations ne sont partagées avec notre opérateur qu'au moment de
    l'initialisation d'une campagne de marketing et d’envoi de messages. Si les
    destinataires ne souhaitent plus recevoir de messages, ils doivent répondre
    au message avec STOP ou contacter à l'adresse e-mail
    <a class="contact" href="mailto: contact@kiddilycare.com">contact@kiddilycare.com</a> pour que nous
    puissions vous désinscrire avec succès. QUESTIONS ET COORDONNÉES Si vous
    souhaitez: accéder à, corriger, modifier ou supprimer toute information
    personnelle que nous avons à votre sujet, déposer une plainte, ou si vous
    souhaitez simplement avoir plus d’informations, contactez notre agent
    responsable des normes de confidentialité à
    <a class="contact" href="mailto: contact@kiddilycare.com">contact@kiddilycare.com</a> ou par
    courrier avec l'objet Re: Agent des Normes de Confidentialité
  </p>
</article>
{% endblock content%}
