<!--Base -->
{% extends 'base.html' %} {% load static %}
<!-- Title -->
{% block title %}Kiddily Care | Politique de retour et de remboursement
{% endblock title %}
<!--Meta description-->
{% block meta %} {% endblock meta %}

<!-- Style -->
{% block style %} <link rel="stylesheet" href="{% static "styles/main.css" %}">
{% endblock style %} {% block content %}
<article class="policy">
  <h1>POLITIQUE DE REMBOURSEMENT</h1>
  <p>
    Notre politique est d’une durée de 14 jours. Si 14 jours se sont écoulés
    depuis la réception du produit, nous ne pouvons pas vous offrir un
    remboursement ou un échange malheureusement. Si, en semaine, vous changez
    d'avis dans les 24h de votre commande, nous vous remboursons directement.
  </p>
  <p>
    Nous ne traitons les commandes uniquement 24h après qu'elles aient été
    passées afin de pouvoir modifier les erreurs et changements d'avis des
    clients. Après ce délai passé, si la commande a été traitée, nous ne
    pourrons plus vous rembourser dans le cadre d'un changement d'avis avant que
    le produit ne soit livré, réceptionné et retourné à l’adresse communiqué.
  </p>
  <p>
    Pour bénéficier d’un retour sur votre commande, votre article doit
    absolument être inutilisé et dans le même état où vous l’avez reçu. Il doit
    également être dans l’emballage d’origine afin d’être renvoyé à vos frais à
    l'adresse que nous vous communiquerons.
  </p>
  <p>
    Il y a plusieurs types de produits ne peuvent pas être retournés. Nous
    n’acceptons pas de retour sur les produits à usage intime ou sanitaire. Les
    cartes cadeaux sont aussi des articles qui ne peuvent pas être retournés.
    Afin d’effectuer un retour, nous allons vérifier qu'il s'agisse bien de
    votre commande via votre numéro de commande et/ou toute information utilisée
    lorsque vous avez passé votre passage de commande. Cela sera certainement
    votre adresse email. Afin que votre retour soit validé, il existe deux
    possibilités.
  </p>
  <p>
    Nous accusons réception du colis à l'adresse de retour que nous vous avons
    communiquée ou vous nous faites parvenir via scan ou photo une preuve que le
    retour a été effectué à l'adresse communiquée. Dans le premier cas, l’envoi
    ne devra pas être envoyé à l'adresse du fabricant. Dans le second cas, un
    reçu postal ou un ticket d'envoi pourront être acceptés.
  </p>
  <p>
    Il se peut que nous vous demandions de patienter bonne réception plutôt que
    de nous envoyer une preuve que le retour a été effectué. Car dans le cadre
    d'une demande de remboursement, une inspection du colis peut s'avérer
    nécessaire. Cette inspection prendra place avant que nous procédions au
    remboursement dans le cas où il y a remboursement.
  </p>
  <p>
    Si vous recevez un article et que vous dites que cet article est en mauvais
    état et que vous souhaitez un remboursement mais que vous refusez d'envoyer
    une photo de l'article que vous avez reçu, il vous sera évidemment demandé
    d'envoyer l'article à une adresse spécifique afin que l’article de votre
    commande puisse être inspecté.
  </p>
  <p>
    Une fois le colis sera réceptionné, ce n'est qu'après inspection que le
    remboursement sera effectué (ou pas). En effet, après inspection nous
    pouvons nous rendre compte que l'article n'est pas en bon état. Et nous vous
    en ferons part via une photo et/ou vidéo et dans ce cas, nous refuserons le
    remboursement. Cela peut paraître excessif comme procédure. Cependant,
    certaines personnes se sont montrées malhonnêtes et sur base d'expérience
    passée, nous ne pouvons plus croire sur parole nos interlocuteurs. Nous en
    sommes désolés et sachez que nous faisons en sorte de faire au mieux pour
    chaque cas de retour et pour chaque demande de remboursement.
  </p>

  <p>
    Lors de tout remboursement, une somme de 2€ sera prélevée par commande. Cela
    afin de combler les frais engendrés par les plateformes et processeurs de
    paiement. Dans le cas de remboursement, quand nous aurons reçu et inspecté
    l’article retourné, nous vous enverrons un e-mail pour confirmer que nous
    l’avons bien reçu. Nous vous allons ensuite informer aussi de notre décision
    quant à l’approbation ou au rejet de votre demande de remboursement.
  </p>
  <p>
    Si votre demande de remboursement est approuvée, elle sera traitée et un
    crédit sera automatiquement appliqué à votre carte de crédit ou à la méthode
    originale de paiement sous un certain délai. Ce délai ne dépend pas de nous.
    Et nous vous notifierons dès que la procédure de remboursement sera lancée
    de notre côté.
  </p>
  <p>
    Si le remboursement est en retard ou absent, consultez votre compte bancaire
    en premier lieu. Contactez seulement ensuite l’entité émettrice de votre
    carte de crédit. En effet, un délai avant que votre remboursement ne soit
    officiellement affiché est possible. Par la suite, contactez votre banque.
  </p>
  <p>
    En effet, un délai de traitement nécessaire avant qu’un remboursement ne
    soit affiché. Après ces deux étapes, dans le cas où vous n’avez toujours pas
    reçu votre remboursement, veuillez envoyer un email à
    <a class="contact" href="mailto :contact@kiddilycare.com"
      >contact@kiddilycare.com</a
    >. L’équipe du service client vous demandera si vous avez effectué les deux
    étapes. Si c’est le cas, l’équipe du service client va faire vérifier dans
    la base données. Nous sommes désolés de demander ces étapes mais nous
    voulons fournir le maximum d'attention à vos demandes. Et nous perdons
    beaucoup de temps lorsque la demande n'est pas précédée de certaines étapes.
  </p>
  <p>
    Nous souhaitons allouer un maximum d'attention fourni aux demandes reçues.
    Dans le cas d’articles soldés, si remboursement il y a, le remboursement
    sera effectué sur le prix de l’article soldé et donc payé par le client et
    non au prix en période normal. Dans le cadre d’échanges, nous remplaçons un
    article uniquement dans le cas où s’il est défectueux ou endommagé.
  </p>
  <p>
    Si c'est ce cas, vous souhaitez l’échanger contre le même article,
    envoyez-nous un e-mail à
    <a class="contact" href="mailto :contact@kiddilycare.com"
      >contact@kiddilycare.com</a
    >. Dans le cadre de cadeaux, l’article que vous souhaitez retourné, s’il
    vous a été envoyé directement, vous recevrez un crédit-cadeau d’une valeur
    égale à celle de votre retour. Encore une fois, ce n’est seulement lorsque
    que nous aurons reçu l’article, un chèque-cadeau vous sera envoyé par email.
  </p>
  <p>
    Si l’article n’a pas été identifié comme un cadeau lors de l’achat, ou si le
    donateur du cadeau a préféré recevoir d’abord l’article pour vous l’offrir
    plus tard, nous enverrons un remboursement à l’acheteur du cadeau et ce
    dernier saura que vous avez retourné l’article. Pour les retours, il vous
    incombera de payer vos propres frais d’expédition.
  </p>
  <p>
    Ces coûts d’expédition ne sont pas remboursables et si vous recevez un
    remboursement, les frais de retour seront déduits de celui-ci. En fonction
    de l’endroit où vous vivez, le délai pour recevoir votre produit échangé
    peut évidemment varier.
  </p>
  <p>
    Si vous expédiez un article d’une valeur égale à 30€ ou plus, envisagez
    d’utiliser un service de livraison qui vous permet de suivre l’envoi ou
    d’assurer la livraison. En effet, nous ne garantissons pas que nous
    recevrons l’article que vous nous retournez.
  </p>
</article>
{% endblock content%}
