<!--Base -->
{% extends 'base.html' %} {% load static %}
<!-- Title -->
{% block title %}Kiddily Care | Politique d'expedition{% endblock title %}
<!--Meta description-->
{% block meta %} {% endblock meta %}

<!-- Style -->
{% block style %} <link rel="stylesheet" href="{% static "styles/main.css" %}">
{% endblock style %} {% block content %}

<article class="policy">
  <h1>POLITIQUE D'EXPÉDITION </h1>
  
  <p>
      En passant une commande par l'intermédiaire de <b>Kiddily Care</b>, vous acceptez les termes ci-dessous. Celles-ci sont fournies pour
      s'assurer que les deux parties connaissent et conviennent de cet arrangement
      pour se protéger mutuellement et pour fixer des attentes sur notre service. 
  </p>
  <h3>1.Généralités </h3>
  <p>
      Sous réserve de la disponibilité des stocks, nous nous efforçons à
      maintenir un inventaire précis des stocks mais de temps en temps, il peut y
      avoir un écart de stock et nous pourrions ne pas être en mesure de remplir
      tous les articles au moment de votre achat. Dans ce cas, nous allons vous
      contacter pour savoir si vous préférez attendre le réapprovisionnement de
      l'article en rupture de stock ou si vous préférez un bon d’achat. 
  </p>
  <h3>2. Frais d'expédition </h3>
<p>
      Les frais d'expédition sont calculés lors du passage à la caisse
      en fonction du poids, des dimensions et surtout de la destination des articles
      de votre commande. Le paiement des frais d'expédition sera encaissé lors de
      l'achat. Ce prix sera le prix final de votre commande pour les frais
      d'expédition. 
</p>
<h3>  3. Retours </h3>
<p>
      Les conditions de retours sont disponibles dans la
      page <a class="contact" href="{% url 'refund_policy' %}">Politique de Retour et Remboursement</a> dont vous trouverez le lien en bas
      de page. 
</p>
<h3>  4. Conditions de livraison </h3>
<p>
      En général, les commandes expédiées à
      l'étranger peuvent être en transit pendant 
      Cependant, ce délai peut
      exceptionnellement être plus long (jusqu’à une vingtaine de jours). Cela varie
      beaucoup selon le type de livraison sélectionné et le fournisseur lié aux
      articles contenus dans la commande que vous avez faite. 
</p>

<h3>4.1 Délai d'expédition </h3>

<p>
      Les commandes sont généralement traitées dans les 2 jours ouvrables suivant le
      paiement de la commande. En effet, nous laissons un délai de 24h afin que
      l’adresse de livraison puisse être modifiée. 
</p>
  
<p>
      Nos équipes contactent les lieux de stockage des articles du lundi au vendredi pendant les heures de bureau
      normales, sauf les jours fériés nationaux, moment auquel l’expédition ne sera
      pas activée auprès des lieux de stockage. 
</p>
  
<p>
      Lorsque vous passez une commande
      chez <b>Kiddily Care</b>, la durée maximum d’expédition est de 5 jours ouvrables.
      Les commandes sont souvent envoyées avant 5 jours ouvrables. Cependant, la
      livraison peut aller jusqu’à 2 à 4 semaines en cette période perturbée. 
</p>
<p>
      Il est important de noter la différence entre l’expédition et la livraison. En effet,
      la livraison correspond au fait de transporter des articles et d'assurer leur
      acheminement jusqu'à une adresse de destination. Tandis que l’expédition
      correspond à l’action de faire partir les articles d’une commande. 
</p>
  
<p>
      C’est pour cette raison qu’exceptionnellement, la durée de livraison peut aller jusqu’à 5
      semaines (2 jours ouvrables de traitement de la commande, 5 jours ouvrables
      d’expédition et 4 semaines de livraison). 
</p>
  
<p>
      Il s’agit là des délais totaux
      exceptionnels mais <b>Kiddily Care</b> souhaite vous le communiquer afin d’éviter
      toute source de désagrément. Cela dit, une fois ce délai de livraison
      dépassée, c’est à dire 5 semaines, nous souhaitons vous garder satisfaits.
</p>

<p>
      Pour cela, nous vous offrirons des solutions comme le renvoi de votre commande
      à nos frais ou la création d’un bon cadeau dont la valeur sera supérieure au
      montant de votre commande initiale. Cela n’arrive presque jamais mais <b>Kiddily Care</b> commence à être victime de son succès et nous préférons anticiper ce
      genre de situations et vous faire savoir quelle est la politique en la matière
      en terme de service client. 
</p>
  
<p>
      Par conséquent, si vous avez reçu votre email de
      confirmation de commande il y a 5 semaines ou plus, veuillez soit répondre à
      l’email de confirmation de votre commande soit nous envoyer un email à
      <a class="contact" href="mailto :contact@kiddilycare.com">contact@kiddilycare.com</a>. 
</p>
  
<p>
      Et afin que votre email soit traité le plus
      rapidement possible, nous vous conseillons de mettre les informations
      suivantes dans votre email : 
</p>

<ul>
      <li>- Votre numéro de commande </li>
      <li>- L'adresse email utilisée lors de votre commande </li>
      <li>- Nom </li>
      <li>- Prénom </li>
      <li>- Contenu de votre commande(même approximatif) </li>
      <li>- Date de votre commande </li>
</ul>
  
<p>
      Si vous nous envoyez un email à
      <a class="contact" href="mailto :contact@kiddilycare.com">contact@kiddilycare.com</a>, nous vous conseillons également de mettre comme
      objet de l'email “Délai de livraison - Le numéro de votre commande”. 
</p>
  <p>Exemple : “Délai de livraison - 0023378” </p>
  
<p>
      Les membres de <b>Kiddily Care</b> dédiés au service
      client vous répondront dans les 24 heures ouvrables par email pour traiter
      votre situation. 
</p>
  
<h3>  4.2 Changement d'adresse de livraison </h3>
<p>
      Pour les demandes de
      changement d'adresse de livraison, nous sommes en mesure de modifier l'adresse
      à tout moment avant l'envoi de la commande. 
</p>
  
<h3>  4.3 Expédition par boîte postale</h3>
<p>
      <b>Kiddily Care</b> n'expédiera à des adresses de boîte postale qu'en utilisant les
      services postaux. Nous ne sommes pas en mesure d'offrir des services de
      courrier à ces endroits pour le moment. 
</p>
  
<h3>  4.4 Expédition d'adresses militaires</h3>
<p>
      Nous sommes en mesure de livrer à des adresses militaires grâce à l'USPS. Nous
      ne sommes cependant pas en mesure d'offrir ce service en utilisant des
      services de messagerie. 
</p>
  
<h3>  4.5 Articles en rupture de stock </h3>
<p>
      Si un article est en
      rupture de stock, nous allons vous contacter pour savoir si vous préférez
      attendre le réapprovisionnement de l'article en rupture de stock ou si vous
      préférez un bon d’achat. Ce bon d’achat aura une valeur supérieure au montant
      de votre commande initiale. 
</p>
  
<h3>  4.6 Dépassement du délai de livraison </h3>
<p>
      Si le délai
      de livraison a dépassé le délai prévu, veuillez nous contacter à l’adresse
      email à <a class="contact" href="mailto :contact@kiddilycare.com">contact@kiddilycare.com</a> afin que nous puissions traiter votre
      requête. 
</p>
  
<h3>  5. Suivi des notifications </h3>
<p>
      Lors de l'expédition, vous recevrez un
      lien de suivi à partir duquel ils pourront pouvoir suivre l'évolution de leur
      expédition sur la base des dernières mises à jour effectuées disponible par le
      fournisseur de services de transport. 
</p>
  <h3>6. Colis endommagés en transit </h3>
  <p>
      Si vous
      constatez qu'un colis est endommagé en cours de transport, veuillez, si
      possible, rejeter la réception de la livraison et contactez notre service
      clientèle. Si le colis a été livré sans que vous soyez présent, veuillez
      contacter les membres de <b>Kiddily Care</b> dédiés au service client à l’adresse
      email à <a class="contact" href="mailto :contact@kiddilycare.com">contact@kiddilycare.com</a>. 
  </p>
  
  <h3>7. Droits et taxes </h3>
  
  <h3>7.1 Taxe sur les ventes </h3>
<p>
      La taxe sur la vente a déjà été appliquée au prix des marchandises tel
      qu'il figure sur <b>Kiddily Care</b> lors du passage de votre commande. 
</p>
  
  <h3>
      7.2 Droits
      et taxes à l'importation 
  </h3>
  <p>
      Il se peut que des droits et taxes à l'importation
      pour les envois internationaux peuvent être exigibles à l'arrivée dans le pays
      de destination. Cela varie selon les pays, et <b>Kiddily Care</b> encourage que vous
      soyez conscient de ces coûts potentiels avant de passer une commande chez
      nous. Si vous refusez de payer les droits et taxes à l'arrivée à votre
      destination pays, les marchandises seront renvoyées à <b>Kiddily Care</b> aux frais
      du client, et le client recevra un remboursement de la valeur des marchandises
      payées, moins le coût les frais de retour. Le coût de l'envoi initial ne sera
      pas remboursé. 
  </p>
  
  <h3>8. Annulations </h3>
  <p>
      Si vous changez d'avis avant d'avoir reçu votre
      commande sur <b>Kiddily Care</b>, nous pouvons accepter les annulations à tout
      moment avant l'expédition de la commande. Si une commande a déjà été expédié,
      veuillez vous référer à notre politique de remboursement présente en bas de
      page. 
  </p>
  
  <h3>9. Assurance </h3>
  <p>
      Les colis sont assurés contre les dommages et la perte
      jusqu'à concurrence de la valeur déclarée par le transporteur. La perte est
      actée dans le cas où le service postal confirme la perte. Une livraison
      confirmée par les services postaux seront considérées comme valides. En effet,
      <b>Kiddily Care</b> a connu un nombre trop élevé de cas de clients malheureusement
      malhonnêtes annonçant ne pas avoir été livrés que pour nous baser uniquement
      sur les propos du client. Cependant, <b>Kiddily Care</b> fera son maximum pour vous
      satisfaire en vous renvoyant les articles de votre commande à ses frais ou
      vous proposant un bon cadeau dont la valeur sera supérieure au montant de
      votre commande initiale. 
  </p>
  
  <h3>
      9.1 Processus pour les colis endommagés en cours de
      transport 
  </h3>
  <p>
      Nous procéderons à un remboursement ou à un remplacement en
      appliquant la Politique de Retour et Remboursement dont vous trouverez le lien
      en bas de page. 
  </p>
  
  <h3>9.2 Processus pour les colis perdus en transit </h3>
  <p>
      Dans le cas où
      service postal confirme une perte en transit, <b>Kiddily Care</b> fera son maximum
      pour vous satisfaire en vous renvoyant les articles de votre commande à ses
      frais ou vous proposant un bon cadeau dont la valeur sera supérieure au
      montant de votre commande initiale. 
  </p>
  
  <h3>10. Service à la clientèle </h3>
  <p>
      Pour toute
      demande de renseignements sur le service à la clientèle, veuillez envoyer un
      email à <a class="contact" href="mailto :contact@kiddilycare.com">contact@kiddilycare.com</a>.
  </p>
</article>
{% endblock content%}