<!--Base -->
{% extends 'base.html' %} {% load static %}
<!-- Title -->
{% block title %}Kiddily Care | Politique de confidentialité{% endblock title %}
<!--Meta description-->
{% block meta %} {% endblock meta %}

<!-- Style -->
{% block style %} <link rel="stylesheet" href="{% static "styles/main.css" %}">
{% endblock style %} {% block content %}

<article class="policy">
  <h1>CONDITIONS D'UTILISATION</h1>
<p>
      Merci de lire attentivement les différentes modalités d’utilisation de
      <b>Kiddily Care</b> avant d’en parcourir les pages. En vous connectant sur
      <b>Kiddily Care</b>, vous acceptez sans réserves les présentes modalités.
</p>
  <h3>Conditions d’utilisation :</h3>
  <p>
    <b>Kiddily Care</b>
    <a class="contact" href="https://kiddily-care.com">https://kiddily-care.com</a> est proposé dans différents langages web comme le
    HTML, HTML5, Javascript, ou encore CSS. Le but recherché est un meilleur
    confort d'utilisation et un graphisme plus agréable, nous vous recommandons
    de recourir à des navigateurs modernes. L’équipe de <b>Kiddily Care</b> met
    en œuvre tous ses moyens pour assurer une information fiable ainsi qu’une
    mise à jour de ses sites internet tout aussi fiable. Cependant, des
    omissions ou erreurs peuvent survenir et l’internaute devra donc s'assurer
    que les informations soient exactes et signaler toutes modifications du site
    s’il le juge utile. <b>Kiddily Care</b> n'est aucunement responsable de
    l'utilisation faite des informations en question. Il en va de même pour tout
    préjudice direct ou indirect pouvant en découler.
  </p>

  <h3>Cookies :</h3>

  <p>
    Le site <a class="contact" href="https://kiddily-care.com">https://kiddily-care.com</a> peut être amené à vous demander
    l’acceptation de cookies. Cela dans un but de statistiques et d'affichage.
    Un cookies correspond à une information déposée sur votre disque dur par le
    serveur du site que vous visitez. Cela contient plusieurs données qui sont
    stockées sur votre ordinateur. Elles sont contenues dans un simple fichier
    texte. Et un serveur va accéder à ce fichier pour le lire et enregistrer ses
    informations. Et plusieurs parties de <b>Kiddily Care</b> ne sont pas
    fonctionnelles sans l’acceptation de cookies.
  </p>
  <h3>Liens hypertextes :</h3>
  <p>
    Le site <a class="contact" href="https://kiddily-care.com">https://kiddily-care.com</a> peut offrir des liens vers d’autres
    ressources disponibles sur Internet ou d’autres sites internet.
    <b>Kiddily Care</b> ne peut contrôler les sites en connexion avec ces site.
    <b>Kiddily Care</b> ne répond et ne garantit donc pas de la disponibilité de
    ces sites et ainsi que des sources externes. <b>Kiddily Care</b> ne peut pas
    être tenu responsable de tout dommage résultant du contenu de ces sites ou
    sources externes quelqu’en soit la nature. Il en va de même pour tout ce qui
    est informations, produits ou services proposés voire de tout usage qui peut
    en découler.
  </p>
  <p>
    C’est à l'internaute se conformer à leurs conditions d'utilisation et
    prendre en considération les risques liés à cette utilisation qui lui
    incombent donc pleinement. Aussi, personne ne peut mettre en place un
    hyperlien en direction de <b>Kiddily Care</b> sans l'autorisation expresse,
    explicite et préalable de Kiddily Care. Que ce soit les utilisateurs, les
    abonnés et les visiteurs des sites internet en question. Dans l'hypothèse où
    une personne souhaite mettre en place un hyperlien en direction de
    <b>Kiddily Care</b>, il devra adresser un email à <b>Kiddily Care</b> via
    l’adresse accessible sur le site. Cet email devra formuler une demande de
    mise en place d'un hyperlien. <b>Kiddily Care</b> peut accepter ou décliner
    cette demande d’hyperlien sans justification.
  </p>

  <h3>Services fournis :</h3>
<p>
      s’efforce de fournir sur le site <a class="contact" href="https://kiddily-care.com">https://kiddily-care.com</a> des informations les
      plus précises possible. L'ensemble des activités de <b>Kiddily Care</b> et les
      informations concernant <b>Kiddily Care</b> sont présentés sur notre site
      <a class="contact" href="https://kiddily-care.com">https://kiddily-care.com</a>. Les renseignements figurant sur
      <a class="contact" href="https://kiddily-care.com">https://kiddily-care.com</a> ne sont pas exhaustifs et les photos se trouvant sur
      <b>Kiddily Care</b> sont non-contractuelles. En effet, ils sont donnés sous
      réserve de modifications qui auront pu être apportées depuis leur mise en
      ligne. Aussi, toutes les informations indiquées sur <a class="contact" href="https://kiddily-care.com">https://kiddily-care.com</a>
      sont données à titre indicatif et donc susceptibles de changer ou d’évoluer.
</p>

  <h3>Limitation contractuelles sur les données : </h3>
<p>
      Les informations contenues sur
      <b>Kiddily Care</b> sont aussi précises que possible sont mises à jour
      régulièrement. Cependant, <b>Kiddily Care</b> peut contenir des inexactitudes
      ou des erreurs. Si vous en constatez signalez en envoyant un email à l’adresse
      <a class="contact" href="mailto: contact@kiddilycare.com">contact@kiddilycare.com</a>. 
      Dans votre email, décrivez la situation de la manière la plus précise
      possible c’est à dire en donnant l’adresse URL de la page en question, à
      partir de quelle machine vous visitez le <b>Kiddily Care</b> et avec quel
      navigateur internet). Tout contenu qui serait téléchargé de Kiddily Care le
      sera aux risques et périls de l'utilisateur l’ayant téléchargé et il en sera
      le seul responsable. Le responsable d'un quelconque dommage subi par
      l'ordinateur de l'utilisateur ou d'une quelconque perte de données
      consécutives au téléchargement question ne sera pas <b>Kiddily Care</b> mais
      bien l’utilisateur. Aussi, l’utilisateur de <b>Kiddily Care</b> s’engage à
      accéder au site en utilisant un matériel correct c’est à dire sans virus ou
      malware et avec une navigateur fonctionnel. Et les liens hypertextes mis en
      place sur <b>Kiddily Care</b> en direction d'autres ressources présentes sur
      le réseau Internet ne sauraient engager la responsabilité de
      <b>Kiddily Care</b>. 
</p>
  
<h3>  Propriété intellectuelle : </h3>
<p>
      Tout le contenu du présent sur
      le site <a class="contact" href="https://kiddily-care.com">https://kiddily-care.com</a> sont la propriété exclusive de la société
      Kiddily Care. Cela inclue les graphismes, images, textes, vidéos,
      animations, sons, logos, gifs et icônes ainsi que leur mise en forme à
      l'exception des marques, logos ou contenus appartenant à d'autres sociétés
      partenaires ou auteurs et ce, façon non limitative. Il est interdit d’en faire
      la reproduction, distribution, modification, adaptation, retransmission ou
      publication, même partielle, de ces différents éléments sans l’accord exprès
      par écrit de <b>Kiddily Care</b>. Ces représentations et/ou reproductions
      quelque soitle procédé constitue une contrefaçon qui sera sanctionnée. Ne pas
      respecter cette interdiction constitue une contrefaçon pouvant engager la
      responsabilité civile et pénale de la personne qui a effectué la contrefaçon.
      De plus, <b>Kiddily Care</b> pourra intenter une action en justice à
      l’encontre de cette personne. 
</p>
  
<h3>  Litiges : </h3>
  
  Les présentes conditions sont régies
  par la loi du Delaware. En effet, toute contestation ou litiges qui pourraient
  naître de l'interprétation ou de l'exécution de ces conditions seront de la
  compétence exclusive des tribunaux dont dépend le siège social de la société.
  L’anglais sera donc la langue de référence pour le règlement de contentieux
  éventuels. 
  <h3>Données personnelles : </h3>
<p>
      Vous n’êtes pas tenu de communiquer vos
      données personnelles lorsque vous visitez <b>Kiddily Care</b>. 
</p>
<h1>  Conditions générales de vente : </h1>
  
<h3>  ARTICLE 1 : CHAMP D'APPLICATION </h3>
<p>
      Les présentes conditions
      générales de vente de cette page s'appliquent à toutes les ventes conclues sur
      <b>Kiddily Care</b> par le biais du site Internet <a class="contact" href="https://kiddily-care.com">https://kiddily-care.com</a>.
</p>
<h3>  ARTICLE 2 : COMMANDES </h3>
<p>
      Les systèmes d'enregistrement automatique de Shopify
      seront considérés comme valant preuve de la nature et du contenu de la
      commande. <b>Kiddily Care</b> confirme l'acceptation de la commande au client
      à l'adresse e-mail que ce dernier aura communiquée. 
</p>
<p>
      La vente sera considérée
      comme conclue à compter de la validation du paiement
      de la commande par <b>Kiddily Care</b>. 
      Cela signifie à partir de la date de validation du paiement
      pour les commandes réglées en ligne par carte bancaire. En tout état de cause,
      <b>Kiddily Care</b> se réserve le droit de refuser ou d'annuler toute commande
      d'un client pour lequel il y aurait une suspicion de fraude ou avec lequel
      existerait un différend relatif au paiement d'une commande précédente. 
</p>
  
<h3>  ARTICLE 3 : DISPONIBILITE DES ARTICLES </h3>
<p>
      Lorsque nos offres et leurs prix sont visibles
      sur le site, elles sont valables. La disponibilité indiquée au moment de la
      consultation du site par le client reste tributaire de l'état du stock chez
      <b>Kiddily Care</b> et surtout chez les fournisseurs bien entendu. Pour
      réaliser le catalogue de vente de <b>Kiddily Care</b>, nous travaillons avec
      des bases de données. Ces dernières sont enrichies d'après les informations
      communiquées par nos fournisseurs. Cette base de données comportent plus d'une
      centaines d'articles et la totalité n'est pas stockée dans nos réserves. Ce
      qui fait que l’offre de <b>Kiddily Care</b> est alors conditionnée à la
      disponibilité des articles chez les fournisseurs. Dans le cas d’une rupture
      définitive d'un article chez nos fournisseurs, la suppression de cet article
      de notre offre de vente est prévue. Une nouvelle commande sous un certain
      délai reste possible dans les autres cas. En cas, d’indisponibilité sur un
      article qui a été commandé, un courrier électronique est envoyé pour informer
      le client à propos du ou des articles concernés. Lors du passage de la
      commande un lien ver les délais de livraison sera affiché. Il y aura aussi un
      accusé réception de commande qui sera envoyé par email pour communiquer un
      délai de livraison indicatif aux clients. Ce délai est calculé sur base de la
      disponibilité de l’article, du délai d'acheminement et ainsi que sur le mode
      de transport sélectionné par le client. Que ce soit lors du passage de la
      commande ou 24h après, c’est à dire avant l'expédition la commande, le client
      peut annuler sa commande. 
</p>
  
  <h3>Particularités : </h3>
  
<h3>  Articles en pré-commande </h3>
<p>
      Sur
      <b>Kiddily Care</b>, des articles à paraître sont proposés sur
      <a class="contact" href="https://kiddily-care.com">https://kiddily-care.com</a> en Pré-commande. Cela signifie qu’il est possible de
      réserver un ou des articles. Cette réservation doit correspondre à une date.
      Cette date de sortie sera annoncée par <b>Kiddily Care</b> au moment de
      l'ouverture de la phase de réservation. La date d’ouverture des réservations
      peut être changée à tout moment par <b>Kiddily Care</b>. Car
      <b>Kiddily Care</b> est l’unique responsable de la commercialisation de ces
      articles en pré-commande. Kiddily Care s'efforcera d'expédier les articles
      aux clients ayant effectué leur réservation à hauteur du stock fourni par le
      fournisseur pour le jour de sortie dès la date de mise en vente définitive.
</p>

<h3>  ARTICLE 4 : PRIX </h3>
<p>
      Les prix indiqués sur <b>Kiddily Care</b> sont en euros (€)
      et sont réputés nets, hors frais de port. Ces prix comprennent le prix des
      produits, le coût du traitement, le coût de manutention et les frais
      d’emballage. À tout moment sans préavis, ces prix sont modifiables. Cela en
      sachant que les articles seront facturés sur base du prix qui était en vigueur
      au moment de l'enregistrement de la commande. Toutes les commandes seront donc
      facturées en euros (€) et payables en euros (€). S’il y a des frais de douanes
      ou encore, des taxes locales, ces frais restent à la charge du destinataire.
</p>
<h3>  ARTICLE 5 : FRAIS DE PORT </h3>
<p>
      Les frais de port correspondent au coût de la
      livraison. Ces coûts comprennent aussi une participation aux frais de
      préparation ainsi que d'affranchissement. Regrouper tous les articles sur une
      seule commande permet donc de ne payer qu’une seule fois les frais de
      livraison. Cependant, des frais de douanes ou encore, des taxes locales
      peuvent s’appliquer sur plusieurs articles différents d’une même commande.
      Cela peut notamment s’expliquer que même si les frais de livraison sont payés
      en une fois, la livraison peut être effectuée en plusieurs parties pour
      différents articles d’une même commande. Cela s’explique par le fait que
      certains articles partent d’entrepôt différents. Il est aussi à noter qu’il
      n’est pas possible de regrouper deux ou plusieurs commandes distinctes en une
      seule commande. Donc les frais de port seront facturés pour chacune des
      commandes même si ces commandes ont été passées par la même personne à la même
      date avec la même adresse de livraison. 
</p>
<h3>ARTICLE 6 : PAIEMENT </h3>
<p>
    Le moyen de
      paiement offre un maximum de garanties de sécurité. Pour payer, il faut
      utiliser une carte bancaire ou privative que ce soit une carte Visa une
      Eurocard ou une Mastercard directement sur le site dans le formulaire de
      paiement proposé lors du processus de commande (saisie sécurisée par cryptage
      SSL). Dans ce formulaire, il sera demandé de renseigner le type de carte
      bancaire, le numéro de cette carte et cela, sans espace entre les chiffres, la
      date de validité et finalement le numéro de contrôle qui se situe au dos de
      votre carte. Aucune information bancaire ne transite via
      <b>Kiddily Care</b> comme expliqué ici dans la politique de confidentialité
      <a class="contact" href="https://kiddily-care.com">https://kiddily-care.com</a>/policies/privacy-policy Par conséquent, le paiement
      par carte de banque est parfaitement sécurisé et votre commande est
      enregistrée et validée dès que le paiement est accepté électriquement par
      votre banque. 
</p>
  
<h3>  ARTICLE 7 : LIVRAISON </h3>
<p>
      Il est possible de livrer à domicile comme
      en point relai. Le temps de préparation du colis auquel s'ajoute le temps
      d'acheminement est compris dans le délai de livraison.
      <b>Kiddily Care</b> livre dans le monde entier. Mais il se peut que certains
      articles ne puissent être acheminés partout. Contacter <b>Kiddily Care</b> par
      email à l’adresse
      <a class="contact" href="mailto: contact@kiddilycare.com">contact@kiddilycare.com</a>
      est préférable en cas de doute. Un mail expliquant les différentes étapes du
      suivi de la commande sera envoyé. Le délai de livraison peut aller jusqu’à 20
      jours en raison de la situation actuelle. Ce délai est à compter dès la
      réception du mail de confirmation l’expédition de la commande. Ce délai de
      livraison ne comprend pas toujours le temps de préparation pour certains
      articles. Le délai de livraison qui sera annoncé par le service de livraison
      n'engage pas <b>Kiddily Care</b> si ce délai est dépassé. Cependant, l’équipe
      responsable du service client fera son possible pour satisfaire la clientèle
      de <b>Kiddily Care</b>.
</p>
<h3>  ARTICLE 8 : GARANTIE - RETOURS - REMBOURSEMENTS- RETRACTATION </h3>
<p>
      Les articles fournis par <a class="contact" href="https://kiddily-care.com">https://kiddily-care.com</a>
      sont neufs et garantis conforme et sans défaut. Ces articles sont identiques
      aux articles du commerce traditionnel. Ils proviennent de l'ensemble des
      éditeurs et fournisseurs qui sont référencés. Dans le cas où un article est
      défectueux ou encore non conforme, vous disposez de 14 jours ouvrables pour
      effectuer une demande d’échange ou un remboursement à compter de la réception
      des articles chez vous. Si le délai de quatorze (14) jours expire un samedi ou
      un dimanche ou un jour férié, la possibilité d’échange ou de remboursement
      sera prorogé jusqu’au premier jour ouvrable suivant. Pour bénéficier de cela,
      vous devrez renvoyer les articles neufs ou non consommés dans leurs emballages
      d’origines, dans leur intégralité, intacts, accompagnés de tous les
      accessoires éventuels, notices d’emploi et documentations c’est à dire
      impérativement dans son emballage cellophane d'origine et avec la facture
      correspondante. 
</p>
  
<p>
      Avant de procéder à ce renvoi, il est préférable d'envoyer la
      preuve du ou des vices via des photos à l’adresse email
      <a class="contact" href="mailto: contact@kiddilycare.com">contact@kiddilycare.com</a>. 
      Dans le cadre de l’exercice du droit de rétractation,
      <b>Kiddily Care</b> est tenu au remboursement la ou les sommes versées par le
      client et cela sans frais à l’exception des frais de retour. Ces frais de
      retours sont à la charge du client et seront quasi systématiquement à
      l’étranger. Cela entraînera un certain coût de renvoi que nous souhaitons
      souligner. Le remboursement en question sera dû dans un délai imparti de
      maximum 14 jours ouvrables à partir de la date de réception du ou des colis
      qui auront été renvoyés. 
</p>
  
<p>
      <b>
          Les frais d'expédition de retour restent alors à
          votre charge.
      </b> 
      
      Tout d’abord, aucun envoi en contre-remboursement ne sera
      accepté et ce, quel qu'en soit le motif. Ensuite, comme stipulé dans la
      politique de retours et remboursement, si vous n’avez pas encore reçu votre
      remboursement, veuillez d’abord consulter votre compte bancaire à nouveau.
      Ensuite, contactez l’entité émettrice de votre carte de crédit, car il
      pourrait y avoir un délai avant que votre remboursement ne soit officiellement
      affiché. Ensuite, contactez votre banque. Il y a souvent un délai de
      traitement nécessaire avant qu’un remboursement ne soit affiché. 
</p>
  
  Si après
  avoir effectué toutes ces étapes, vous n’avez toujours pas reçu votre
  remboursement, veuillez s’il vous plait nous contacter à
  <a class="contact" href="mailto: contact@kiddilycare.com"
    >contact@kiddilycare.com</a
  >. Nous ferons en sorte de vérifier ce qu'il est dans notre système. Encore
  une fois, vous nous voyez désolés de demander ces étapes mais nous souhaitons
  fournir le maximum d'attention à vos demandes. Et nous perdons du temps
  lorsque la demande n'est pas précédée de certaines étapes de vérification. Ce
  temps, nous souhaitons évidemment l'allouer au maximum d'attention fourni aux
  demandes que nous recevons. 
  
<h3>  ARTICLE 9 : TRANSFERT DE PROPRIETE - TRANSFERT DE RISQUES </h3>
<p>
      Le transfert de propriété des produits au profit de l'acquéreur, ne
      sera réalisé qu'après complet paiement du prix par ce dernier, et ce quelle
      que soit la date de livraison des dits produits. En revanche, le transfert des
      risques de perte et de détérioration des produits ne sera réalisé dès
      livraison et réception desdits produits par l'acquéreur. 
</p>
  
<h3>  ARTICLE 10 : PROTECTION DE VOS DONNÉES PERSONNELLES </h3>
<p>
      <b>Kiddily Care</b> est producteur et
      propriétaire de tout ou partie des bases de données composant le présent site.
      En accédant au présent site, le client reconnaît que les données le composant
      sont légalement protégées, et s'interdit notamment d'extraire, réutiliser,
      stocker, reproduire, représenter ou conserver, directement ou indirectement,
      sur tout type de support, par tout moyen et sous toute forme que ce soit, tout
      ou partie qualitativement ou quantitativement substantielle, du contenu des
      bases de données figurant au site auquel il accède. 
</p>
  
<h3>  ARTICLE 11 : RESPONSABILITE </h3>
  
<p>
      Les descriptifs des produits présents dans les bases de données
      de <a class="contact" href="https://kiddily-care.com">https://kiddily-care.com</a> ont été saisis d'après les informations
      communiquées par les éditeurs. Kiddily Care n'est pas responsable du contenu
      des oeuvres et ne pourra voir sa responsabilité engagée à l'égard de
      l'acquéreur. La responsabilité de Kiddily Care ne peut être recherchée en cas
      de survenance d'un cas de force majeure (grève, inondation, incendie...). Les
      produits proposés répondent à la loi de Hong Kong en vigueur.
      <b>Kiddily Care</b> décline toute responsabilité si l'article livré ne
      respecte pas la législation du pays de livraison (censure, interdiction d'un
      titre ou d'un auteur...). <b>Kiddily Care</b> n'est pas responsable du contenu
      des sites sur lesquels des liens hypertextes peuvent renvoyer à partir de son
      propre site. 
</p>
  
  <h3>ARTICLE 12 : DROIT APPLICABLE </h3>
  
<p>
      Toutes les clauses figurant dans
      les présentes conditions générales de vente, ainsi que toutes les opérations
      d'achat et de vente qui y sont visées, seront soumises à la loi de Hong Kong.
</p>
  
  <h3>ARTICLE 13 : ACCEPTATION DE L'ACQUEREUR </h3>
  Les présentes conditions générales de
  vente ainsi que les tarifs sont expressément agréés et acceptés par
  l'acquéreur, qui déclare et reconnaît en avoir une parfaite connaissance, et
  renonce, de ce fait, à se prévaloir de tout document contradictoire et,
  notamment, ses propres conditions générales d'achat, l'acte d'achat entraînant
  acceptation des présentes conditions générales de vente. 
<p>
      Les présentes
      conditions sont modifiables à tout moment sans préavis par Kiddily Care -
      Mise à jour des conditions générales de vente le 1er Fevrier 2022.
</p>
</article>
{% endblock content%}
