@import url("base.a79987e4efa9.css");

.form {
  width: 100%;
  position: relative;
  height: 50px;
  overflow: hidden;
  margin: 15px auto;
  color: var(--mainTextColor);
}

.form input {
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: var(--secondaryFont);
  color: var(--mainTextColor);
  padding-top: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.form label {
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid var(--lightColor);
  border-radius: 5px;
  color: var(--secondaryTextColor);
}

.form label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--secondaryColor);
  transform: translateX(-100%);
  transition: 0.3s;
  color: var(--secondaryColor);
}

.content-name {
  position: absolute;
  bottom: 5px;
  font-size: 13px;
  font-weight: 500;
  left: 2px;
  transition: 0.3s;
  color: var(--secondaryTextColor);
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  transform: translateY(-140%);
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  transform: translateX(0%);
}


